<div class="container">
  <h1>Submit new bulletin post</h1>
  <form {{action 'post' on='Submit'}}>
    <div class="form-group">
      <label for="title">Bulletin headline</label>
      <input type="text" class="form-control" name="title" id="title" onchange={{action (mut title) value="target.value"}}>
    </div>
    <div class="form-group">
      <label for="description">Bulletin text</label>
      <textarea class="form-control" rows="12" id="description" name="description" onchange={{action (mut description) value="target.value"}}></textarea>
    </div>
    <div class="form-group">
      <label>Expires in</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="expires" value='30' checked onchange={{action "updateExpires" value="target.value"}}>
          30 days
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="expires" value='60' onchange={{action "updateExpires" value="target.value"}}>
          60 days
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="expires" value='120' onchange={{action "updateExpires" value="target.value"}}>
          120 days
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="target_educations">Target study programmes</label>
      <div class="row">
        <div class="col-md-5">
          <select class="form-control" name="target_educations" id="target_educations" onchange={{action (mut selected_education) value="target.value"}}>
            <option value="" disabled selected>Select an education&hellip;</option>
            {{#each model as |education|}}
              <option value="{{education.id}}">{{to-upper-case education.university}} - {{education.name.en}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger" {{action "addEducation"}}>Add</button>
        </div>
        <div class="col-md-6">
          <a class="pull-right" style="cursor: pointer" {{action 'resetEducation'}}>Reset</a>
          <ul>
            {{#each computed_educations as |target_education index|}}
              <li>{{target_education.name.en}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <h3>Your details</h3>
    <div class="form-group">
      <label>I am/represent a&hellip;</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="publisher_category" value="student" onchange={{action (mut publisher_category) value="target.value"}}>
          Student
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="publisher_category" value="company" onchange={{action (mut publisher_category) value="target.value"}}>
          Company/Organization
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="publisher_category" value="university" onchange={{action (mut publisher_category) value="target.value"}}>
          University/Learning Institution
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="publisher_name">Name of organization or institution</label><small> (Optional)</small>
      <input type="text" class="form-control" name="publisher_name" id="publisher_name" onchange={{action (mut publisher_name) value="target.value"}}>
    </div>
    <br>
    <h3>Point of contact</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact_name">Name</label>
          <input type="text" class="form-control" name="contact_name" id="contact_name" onchange={{action (mut contact_name) value="target.value"}}>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact_position">Position</label>
          <input type="text" class="form-control" name="contact_position" id="contact_position" onchange={{action (mut contact_position) value="target.value"}}>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact_email">Email</label>
          <input type="email" class="form-control" name="contact_email" id="contact_email" onchange={{action (mut contact_email) value="target.value"}}>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="contact_phone">Phone</label>
          <input type="text" class="form-control" name="contact_phone" id="contact_phone" onchange={{action (mut contact_phone) value="target.value"}}>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center">
      <input type="submit" value="Submit Bulletin" class="btn btn-primary btn-lg" {{action "submitBulletin" on "submit"}}>
    </div>
    <br>
  </form>
</div>