<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2>Add new education:</h2>
  <form {{action 'save' on='Submit'}}>
    <div class="form-group">
      <label for="name_en">English name</label>
      <input type="text" class="form-control" name="name_en" id="name_en">
    </div>
    <div class="form-group">
      <label for="name_da">Danish name</label>
      <input type="text" class="form-control" name="name_da" id="name_da">
    </div>
    <div class="form-group">
      <label for="university">University</label>
      <select class="form-control" name="university" id="university">
        <option value="" disabled selected>Please select your university...</option>
        <option value="aau">Aalborg Universitet</option>
        <option value="au">Aarhus Universitet</option>
        <option value="cbs">Copenhagen Business School</option>
        <option value="dtu">Danmarks Tekniske Universitet</option>
        <option value="itu">IT-Universitetet i København</option>
        <option value="ku">Københavns Universitet</option>
        <option value="ruc">Roskilde Universitet</option>
        <option value="sdu">Syddansk Universitet</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="3" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="degree">Degree title</label>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="kandidat" onchange={{action 'candSelect'}}>
          Kandidat
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="bachelor" onchange={{action 'candDeselect'}}>
          Bachelor
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="ak" onchange={{action 'candDeselect'}}>
          Erhvervsakademiuddannelse
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="pbachelor" onchange={{action 'candDeselect'}}>
          Professionsbachelor
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="diplom" onchange={{action 'candDeselect'}}>
          Diplomuddannelse
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="degree" value="eud" onchange={{action 'candDeselect'}}>
          Erhvervsuddannelse
        </label>
      </div>
    </div>
    {{#if cand_selected}}
      <div class="form-group">
        <label for="title">Education title</label>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="title" value="cand.it.">
            cand.it.
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="title" value="cand.mag.">
            cand.mag.
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="title" value="cand.merc.it.">
            cand.merc.it./cand.merc.dat
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="title" value="cand.polyt.">
            cand.polyt.
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="title" value="cand.scient.">
            cand.scient.
          </label>
        </div>
      </div>
    {{/if}}
    <div class="form-group">
      <label>Specializations</label>
      {{#if specializations}}
        <ul id="specialization_list" class="list-group">
          {{#each specializations as |specialization index|}}
            {{study-specialization index=index removeSpecialization=(action 'removeSpecialization')}}
          {{/each}}
        </ul>
      {{else}}
        <small class="form-small">No specializations</small>
      {{/if}}
      <button class="btn btn-default" {{action "addSpecialization"}}>Add specialization</button>
    </div>
    <div class="form-group">
      <label>Skills</label>
      <div class="row">
        <div class="col-md-4">
          <i>Acquired Skills</i>
          <ul class="ul-skills">
            {{#each skills_selected as |skill|}}
              {{skill-tag skill=skill removeSkill=(action 'removeSkill') can-edit=true}}
            {{/each}}
          </ul>
        </div>
        <div class="col-md-8">
          <i>Available Skills</i>
          <ul class="ul-skills">
            {{#each skills_available as |skill|}}
              {{skill-tag skill=skill addSkill=(action 'addSkill') can-edit=false}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </form>
  <h2>Educations currently in database:</h2>
  <ul class="list-group">
    {{#each model as |education|}}
      {{li-education education=education}}
    {{/each}}
  </ul>
</div>