<div class="container" id="education">
  <header class="text-center">
    <img class="university_full_size" src="/assets/images/{{model.university}}_wide.png" />
    {{#if model.name.da}}
      <h1>{{model.name.da}}</h1>
    {{else}}
      <h1>{{model.name.en}}</h1>
    {{/if}}
    <small><i>{{model.title}}</i></small>
  </header>
  <hr>
  <section>
    <h3>Description</h3>
    <pre>{{model.description}}</pre>
  </section>
  <section>
    <h3>Specializations</h3>
    {{#if model.specializations}}
      {{#each model.specializations as |specialization|}}
        <div class="specialization">
          <label>{{specialization.name}}</label>
          <p>{{specialization.description}}</p>
        </div>
      {{else}}
        <p>This programme does not feature any specializations.</p>
      {{/each}}
    {{/if}}
  </section>
  <section>
    <h3>Attained skills</h3>
    <ul class="ul-skills">
      {{#each model.skills as |skill|}}
        <li class="skill-tag"><span>{{skill}}</span></li>
      {{/each}}
    </ul>
  </section>
</div>