<div class="container" id="education">
  <img class="university_full_size pull-right" src="/assets/images/{{model.university}}.png" />
  <h1>{{model.name.en}}</h1>
  <small><i>{{model.title}}</i></small>
  <h2>Description</h2>
  <p>{{model.description}}</p>
  {{#if model.specializations}}
    <h2>Specializations</h2>
    {{#each model.specializations as |specialization|}}
      <label>{{specialization.title}}</label>
      <p>{{specialization.description}}</p>
    {{/each}}
  {{/if}}

</div>