<div class="container-fluid">
  <div class="row">
    <aside class="col-lg-4">
      <h2>Filtering options</h2>
      <hr>
      <form>
        <div class="form-group">
          <label>Required skills</label>
          <ul class="ul-skills">
            {{#each skills as |skill|}}
              {{skill-tag skill=skill removeSkill=(action "removeSkill") can-edit=true}}
            {{/each}}
          </ul>
        </div>
        <div class="form-group">
          <label>Available skills</label>
          <ul class="ul-skills">
            {{#each skills_available as |skill|}}
              {{skill-tag skill=skill addSkill=(action "addSkill") can-edit=false}}
            {{/each}}
          </ul>
        </div>
        <div class="form-group">
          <label for="search">Filter by name</label>
          <input type="text" class="form-control" name="search" id="search" oninput={{action (mut search_filter) value="target.value"}}>
        </div>
        <div class="form-group">
          <label for="degree">Filter by university</label>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="aau" change=(action "toggleUniversity")}}
              Aalborg Universitet
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="au" change=(action "toggleUniversity")}}
              Aarhus Universitet
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="cbs" change=(action "toggleUniversity")}}
              Copenhagen Business School
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="dtu" change=(action "toggleUniversity")}}
              Danmarks Tekniske Universitet
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="itu" change=(action "toggleUniversity")}}
              IT-Universitetet i København
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="ku" change=(action "toggleUniversity")}}
              Københavns Universitet
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="ruc" change=(action "toggleUniversity")}}
              Roskilde Universitet
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="sdu" change=(action "toggleUniversity")}}
              Syddansk Universitet
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="degree">Filter by degree</label>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="kandidat" change=(action "toggleDegree")}}
              Kandidat
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="bachelor" change=(action "toggleDegree")}}
              Bachelor
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="ak" change=(action "toggleDegree")}}
              Erhvervsakademiuddannelse
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="pbachelor" change=(action "toggleDegree")}}
              Professionsbachelor
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="diplom" change=(action "toggleDegree")}}
              Diplomuddannelse
            </label>
          </div>
          <div class="checkbox">
            <label>
              {{input type="checkbox" name="eud" change=(action "toggleDegree")}}
              Erhvervsuddannelse
            </label>
          </div>
        </div>
      </form>
    </aside>
    <section class="col-lg-8">
      <h2>Results</h2>
      <hr>
      <div style="margin: 5px 0;">
        <small>{{filteredEducations.length}} results found</small>
      </div>
      <ul class="list-group">
        {{#each filteredEducations as |education|}}
          {{li-education education=education}}
        {{/each}}
      </ul>
    </section>
  </div>
</div>