<li class="li-bulletin list-group-item">
  <span class="pull-right"><small>Posted {{formattedSubmitted}} - expires in {{formattedExpired}} days</small></span>
  <label>{{bulletin.publisher.name}}</label>
  <p>{{bulletin.title}}</p>
  <ul>
    {{#each bulletin.educations as |education|}}
      <li>{{#link-to "education" education.id}}{{education.name.en}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class='read-more row'>
    {{#link-to 'bulletin' bulletin.id }}<small>See details &raquo;</small>{{/link-to}}
  </div>
</li>